
body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",Times, serif;
  color: black;
  background-color:#e6fff7 }
  
 h1 {
    font-family: Helvetica, Geneva, Arial,
		  SunSans-Regular, sans-serif;
      color: black }



<style รายชื่อเพื่อน>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 40%;
    }
     
    td, th {
        border: 1px solid #5DADE2;
        text-align: left;
        padding: 8px;
    }
     
    tr:nth-child(even) {
        background-color: #dddddd;
    }
    </body>
